/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}

nav li {
    display: inline;
}

#sign_in {
    color: #fff;
    text-decoration: none;
    background-color: #4c8bf5;
    font-weight: bold;
    padding: 8px 14px 8px 14px;
    border-radius: 4px;
}

#sign_in a {
    color: #fff;
}

nav a {
    color: rgb(41, 41, 41);
    text-decoration: none;
    font-weight: normal;
}

.nav-links {
    font-size: 15px;
    display: inline-block;
    line-height: 24px;
    font-weight: bold;
    color: rgb(41, 41, 41);
    cursor: pointer;
    padding: 8px 10px;
}

.nav-links:hover {
    text-decoration: underline;
    opacity: 0.85;
}

.google-image img {
    flex: 1;
}

#google_logo img {
    display: block;
    margin: auto;
    margin-top: 107px;
    margin-bottom: 40px;
}

#form-search {
    width: 600px;
    min-width: 33vw;
    height: 35px;
    margin-top: 40px;
    margin: 0px auto;
    position: relative;
    display: block;
    border: 1px solid rgb(43, 43, 43);
    color: rgba(0, 0, 0, 0.8) padding: 12px;
    border-radius: 30px;
    outline: none;
}

#buttons {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
    margin: 0 auto;
}

#buttons button {
    margin-top: 30px;
    margin-left: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background: #f2f2f2;
    border-top: 2px solid #eee;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    margin-top: auto;
}

footer li {
    color: rgb(41, 41, 41);
    display: inline-block;
}

#footer-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    padding-left: 10px;
    flex: 1;
}

.footer-right {
    justify-content: flex-end;
    padding-right: 10px;
}

footer a {
    color: rgb(43, 43, 43);
    text-decoration: none;
    margin: 20px 10px 30px 10px;
}